    <div class="rev-slider-wrapper" style="margin-top:100px;">
        <div class="rev-slider">
            <ul class="unstyled">
                <li data-transition="slideup" data-slotamount="1">
                    <img src="/images/banner02.png" alt="slide background" style="width:1024px; height:500px;" />
                   
                </li>

                <li data-transition="slideright" data-slotamount="1">
                    <img src="images/banner03.png" alt="slider-image" style="width:1024px; height:500px;" />
                   
                </li>

                <li data-transition="slideleft" data-slotamount="1">
                    <img src="/images/banner01.png" alt="slider-image"style="width:1024px; height:500px;" />
               
                </li>

                <li data-transition="slidedown" data-slotamount="1">
                    <img src="/images/slide-bg-4.png" alt="slider-image" />
                    <div class="caption lfb video-caption" data-x="right" data-y="center" data-hoffset="120" data-voffset="230" data-speed="700" data-start="1000" data-easing="easeOutBack">
                        <img src="/images/slide-image-5.png" alt="slider-image" />
                        <iframe width="384" height="240" src="//www.youtube.com/embed/KaasSCBrenw" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="caption lfl black-medium" data-x="left" data-y="center" data-hoffset="-120" data-voffset="100" data-speed="700" data-start="2500" data-easing="easeOutBack">Conheça</div>
                    <div class="caption lfl blue-big" data-x="left" data-y="center" data-hoffset="-116" data-voffset="180" data-speed="700" data-start="2700" data-easing="easeOutBack">o sistema</div>
                    <div class="caption lfl black-small" data-x="left" data-y="center" data-hoffset="142" data-voffset="260" data-speed="500" data-start="2900" data-easing="easeOutBack">Assista o nosso video</div>
                </li>
            </ul>
        </div>
    </div>