    <div id="testimonials" class="page-element">
        <div class="container">
            <h3>PLANETA ABC</h3>
            <p>Nosso intuito é ser referência em sistemas de ensino no Mato Grosso do Sul</p>

            <div id="testimonial-content">
                <ul id="hidden-quotes">
                    <li data-author="Missão">Prover soluções educacionais de excelência que contribuam para o fortalecimento e o crescimento de nossos parceiros.</li>
                    <li data-author="Visão">A prática do ensino exige determinados procedimentos e técnicas que podem variar conforme o método escolhido. Entretanto, em um Sistema de Ensino de excelência, a metodologia precisa estar de acordo com as mais diversas propostas pedagógicas, mantendo-se coerente aos valores éticos e ao respeito aos direitos humanos.</li>
                    <li data-author="Conceito">O Brasil reconhece a educação de excelência. O SEFE está presente em 21 estados e no Distrito Federal, em 120 municípios, compartilhando uma metodologia de excelência educacional com mais de 233 escolas conveniadas. </li>
                </ul>

                <div class="quote">
                    <blockquote>
                        <p class="quote-content" />
                    </blockquote>

                    <cite class="quote-author"></cite>
                </div>
            </div>
        </div>
    </div>