<section id="middle">
	<div class="middle_inner">
		<br><br>
		<center><h1>A Empresa</h1></center>
    <article>
      <h3>Missão:</h3>
      <span><%= @content.mission.html_safe %></span><br>

      <h3>Visão:</h3>
      <span><%= @content.vision.html_safe %></span><br>

      <h3>Valor:</h3>
      <span><%= @content.value.html_safe %></span><br>
      <%= @content.content.html_safe %>
    </article>
	</div> <!-- final div middle_inner-->
</section> <!-- final middle section -->