<section id="middle">
  <div class="middle_inner">
    <br><br>
    <center><h1>Eventos</h1></center>
    <section id="middle_content">
      <div class="entry">
        <% @events.each do |event| %>
          <div class="one_third aligncenter">
            <div class="featured_block">
              <div class="cmsms_services_icon">
                <%= image_tag event.picture_url(:thumb), :class => "aligncenter"  %>
              </div>
              <h2><%= event.name %></h2>
              <span class="entry-content">
                <p><%= truncate event.description, length: 100 %></p>
              </span>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div> <!-- final div middle_inner-->
</section> <!-- final middle section -->