<!-- __________________________________________________ Start Middle -->
			
				<section id="middle">
					<div class="middle_inner">

<!-- __________________________________________________ Start Content -->

						<section id="middle_content">
							<div class="entry">
								<div class="one_third aligncenter">
									<div class="featured_block">
										<div class="cmsms_services_icon">
											<img alt="" class="aligncenter" src="/images/img/home_1.png">
										</div>
										<h2>Para uma melhor educação</h2>
										<p>Increase is guaranteed to have a great appearance on all sorts of devices, on large desktop screens as well as on tablets and mobiles. </p>
									</div>
								</div>
								<div class="one_third aligncenter">
									<div class="featured_block">
										<div class="cmsms_services_icon">
											<img alt="" class="aligncenter" src="images/img/home_2.png">
										</div>
										<h2>Easy to Customize</h2>
										<p>Increase template offers super flexibility for color editing and easily turns from a minimalistic style template into a juicy website with great animation effects.</p>
									</div>
								</div>
								<div class="one_third last aligncenter">
									<div class="featured_block">
										<div class="cmsms_services_icon">
											<img alt="" class="aligncenter" src="images/img/home_3.png">
										</div>
										<h2>Advanced SEO</h2>
										<p>Increase is a  SEO-friendly HTML template. In features super-clean Css3  and HTML5 that  search engines will love, successfully crawl and index.</p>
									</div>
								</div>
								<div class="cl"></div>
								<div class="one_first">
									<aside class="widget widget_text">
										<div class="textwidget">
											<section class="post_type_shortcode four_blocks">
												<h3 class="cms_title">Últimos Eventos</h3>
												<script type="text/javascript">
													jQuery(document).ready(function () { 
														jQuery('.post_type_list').cmsmsResponsiveContentSlider( { 
															sliderWidth : '100%', 
															sliderHeight : 'auto', 
															animationSpeed : 500, 
															animationEffect : 'slide', 
															animationEasing : 'easeInOutExpo', 
															pauseTime : 0, 
															activeSlide : 1, 
															touchControls : false, 
															pauseOnHover : false, 
															arrowNavigation : true, 
															slidesNavigation : false 
														} );
													} );
												</script>
												<ul class="post_type_list responsiveContentSlider">
												<% @events.each do |event| %>
													<li class="latest_item">
														<article class="portfolio format-album">
															<div class="portfolio_inner">
																<a href="album_four.html"></a>
																<figure>
																	<img src="images/img/fproject_4_1.jpg" alt="" class="fullwidth" />
																</figure>
																<div class="project_rollover" style="background-color:#6cc437;">
																	<header class="entry-header">
																		<h6 class="entry-title">
																			<a href="album_four.html">Lifestyle</a>
																		</h6>
																		<ul class="cmsms_category">
																			<li><a href="#">Design</a>, </li>
																			<li><a href="#">Corporate</a><li>
																		</ul>
																		<span class="cmsms_post_img"></span>
																	</header>
																	<span class="entry-content">
																		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis arcu vitae magna egestas pulvinar vitae</p>
																	</span>
																</div>
															</div>
														</article>
													</li>
													<% end %>
												</ul>
											</section>
										</div>
									</aside>
								</div>
								<div class="cl"></div>
								<div class="two_third">
									<div class="tour_content">
									<h2>Nossos Serviços</h2><br />
										<ul class="tour">
											<% @services.each do |service| %>
												<li class="current">
													<%= link_to service.name, service %>
												</li>
											<% end %>
										</ul>
										<% @services.each do |service| %>
											<div class="tour_box">
												<div class="tour_box_inner">
													<h5><%= service.name %></h5>
													<p><%= service.description %></p>
												</div>
											</div>	
										<% end %>
									</div>
								</div>
								<div class="one_third last">
									<div class="cmsms_shortcode_testimonials">
										<h2>Missão / Visão</h2><br />
										<header class="entry-header">
											<blockquote>
												<h6></h6>
											</blockquote>
										</header>
	
									</div>
								</div>
								<div class="cl"></div>
								
								<div class="colored_shortcode">
									<div class="colored_title">
										<div class="colored_title_inner">
											<h2>Conheça nossos produtos!</h2>
											<p>Envie-nos um contato agora mesmo.</p>
										</div>
									</div>
									<a class="colored_button" href="#"><span class="icon_banner icon_down"></span>Orçamento online</a>
									
								</div>
							</div>
						</section>
<!-- __________________________________________________ Finish Content -->

					</div>
				</section>
<!-- __________________________________________________ Finish Middle -->